@base03: #fff;
@base02: #eee;
@base01: #dddddd;
@base00: #657b83;
@base0: #333333;
@base1: #93a1a1;
@base2: #eee8d5;
@base3: #fdf6e3;

@selection: #B2D7FF;
@active: #F8EEC7;

@yellow: #b58900;
@orange: #cb4b16;
@red: #dd1144;
@magenta: #990000;
@violet: #990073;
@blue: #445588;
@cyan: teal;
@green: #009926;
@black: #333333;
@gray: #999988;
